/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

main {
    margin: 8px;
    padding: 8px;
    box-sizing: content-box;
}

/* start header */
.top {
    height: 175px;
    background-image: url("../img/pattern.png");
    background-color: #4ea0ff;
}

/* barbatrucco finche non usiamo position */
.space {
    height: 70px;
}

header img {
    height: 100px;
}
/* end header */

/* end main article */

.light-grey {
    color: #808080;
}

.light-blue {
    color: #20a9e5;
}

.bg-yellow {
    background-color: yellow;
}